@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #f9fafe;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.container_notifications {
    max-width: 900px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 3%);
    padding: 1rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.amount_notifications {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.amount_notifications .amount {
    padding: 0.2rem 0.7rem;
    background-color: #0c357b;
    border-radius: 5px;
    color: #fff;
}
button.mark_read {
    color: #6b6e75;
    background-color: unset;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 1.025rem;
    cursor: pointer;
}
button.mark_read:hover {
    text-decoration: underline;
}